In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame(
    {
        'A':[1,2,3,2,12,11],
        'B':[4,5,6,7,81,9],
        'C':[0,0,0,0,0,0],
        'D':[1,1,1,1,1,1]
    }
)

In [3]:
data

    A   B  C  D
0   1   4  0  1
1   2   5  0  1
2   3   6  0  1
3   2   7  0  1
4  12  81  0  1
5  11   9  0  1

#### Variance Thersold class in sklearn

In [4]:
from sklearn.feature_selection import VarianceThreshold
var_thres = VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [5]:
var_thres.get_support()

array([ True,  True, False, False])

In [12]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [14]:
var_thres.get_support()

array([ True,  True, False, False])

In [15]:
constant_col=[]
for col in data.columns:
    if col not in data.columns[var_thres.get_support()]:
        constant_col.append(col)

In [16]:
constant_col

['C', 'D']

In [19]:
data = data.drop(constant_col,axis=1)

In [20]:
data

    A   B
0   1   4
1   2   5
2   3   6
3   2   7
4  12  81
5  11   9

In [30]:
df = pd.read_csv('weatherAUS.csv',usecols=['MinTemp','MaxTemp','Rainfall','Evaporation','Sunshine','WindSpeed9am','RainTomorrow'])

In [31]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindSpeed9am', 'RainTomorrow'],
      dtype='object')

In [32]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,143693.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,14.043426
std,6.398495,7.119049,8.478060,4.193704,3.785483,8.915375
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,7.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,13.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,19.000000
max,33.900000,48.100000,371.000000,145.000000,14.500000,130.000000

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   MinTemp       143975 non-null  float64
 1   MaxTemp       144199 non-null  float64
 2   Rainfall      142199 non-null  float64
 3   Evaporation   82670 non-null   float64
 4   Sunshine      75625 non-null   float64
 5   WindSpeed9am  143693 non-null  float64
 6   RainTomorrow  142193 non-null  object
dtypes: float64(6), object(1)
memory usage: 7.8+ MB

In [35]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,RainTomorrow
0,13.4,22.9,0.6,NaN,NaN,20.0,No
1,7.4,25.1,0.0,NaN,NaN,4.0,No
2,12.9,25.7,0.0,NaN,NaN,19.0,No
3,9.2,28.0,0.0,NaN,NaN,11.0,No
4,17.5,32.3,1.0,NaN,NaN,7.0,No
...,...,...,...,...,...,...,...
145455,2.8,23.4,0.0,NaN,NaN,13.0,No
145456,3.6,25.3,0.0,NaN,NaN,13.0,No
145457,5.4,26.9,0.0,NaN,NaN,9.0,No
145458,7.8,27.0,0.0,NaN,NaN,13.0,No
145459,14.9,NaN,0.0,NaN,NaN,17.0,NaN

In [36]:
df.isnull().mean()*100

MinTemp          1.020899
MaxTemp          0.866905
Rainfall         2.241853
Evaporation     43.166506
Sunshine        48.009762
WindSpeed9am     1.214767
RainTomorrow     2.245978
dtype: float64

In [37]:
#Handling missing values

In [39]:
df['MinTemp'] = df['MinTemp'].fillna(df['MinTemp'].mean())

In [40]:
print(df['MinTemp'].isnull().mean()*100)

0.0

In [41]:
df['MaxTemp'] = df['MaxTemp'].fillna(df['MaxTemp'].mean())

In [42]:
df['Rainfall'] = df['Rainfall'].fillna(df['Rainfall'].mean())

In [43]:
df['Evaporation'] = df['Evaporation'].fillna(df['Evaporation'].mean())

In [44]:
df['Sunshine'] = df['Sunshine'].fillna(df['Sunshine'].mean())

In [45]:
df['WindSpeed9am'] = df['WindSpeed9am'].fillna(df['WindSpeed9am'].mean())

In [48]:
df['RainTomorrow'] = df['RainTomorrow'].fillna(df['RainTomorrow'].mode())

In [49]:
df.isnull().mean()*100

MinTemp         0.000000
MaxTemp         0.000000
Rainfall        0.000000
Evaporation     0.000000
Sunshine        0.000000
WindSpeed9am    0.000000
RainTomorrow    2.245978
dtype: float64

In [50]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,RainTomorrow
0,13.4,22.900000,0.6,5.468232,7.611178,20.0,No
1,7.4,25.100000,0.0,5.468232,7.611178,4.0,No
2,12.9,25.700000,0.0,5.468232,7.611178,19.0,No
3,9.2,28.000000,0.0,5.468232,7.611178,11.0,No
4,17.5,32.300000,1.0,5.468232,7.611178,7.0,No
...,...,...,...,...,...,...,...
145455,2.8,23.400000,0.0,5.468232,7.611178,13.0,No
145456,3.6,25.300000,0.0,5.468232,7.611178,13.0,No
145457,5.4,26.900000,0.0,5.468232,7.611178,9.0,No
145458,7.8,27.000000,0.0,5.468232,7.611178,13.0,No
145459,14.9,23.221348,0.0,5.468232,7.611178,17.0,NaN

In [51]:
x = df.drop(columns='RainTomorrow')
y = df['RainTomorrow']

In [52]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [53]:
var_thres = VarianceThreshold(threshold=0)
var_thres.fit(x_train)

VarianceThreshold(threshold=0)

In [54]:
#### Non constant features
sum(var_thres.get_support())

6

In [55]:
var_thres.get_support()

array([ True,  True,  True,  True,  True,  True])