In [27]:
import pandas as pd 
import numpy as np

In [28]:
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv('weatherAUS.csv',usecols=['MinTemp','MaxTemp','RainTomorrow'])

In [30]:
df.head()

   MinTemp  MaxTemp RainTomorrow
0     13.4     22.9           No
1      7.4     25.1           No
2     12.9     25.7           No
3      9.2     28.0           No
4     17.5     32.3           No

#### Advantage and Disadvantage of KNN imputer
    1.More Accurate
    2.More memory space require

In [31]:
df['RainTomorrow'].fillna('No',inplace=True)

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer,SimpleImputer

In [33]:
x = df.drop(columns='RainTomorrow')
y = df['RainTomorrow']

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [35]:
df.isnull().mean()*100

MinTemp         1.020899
MaxTemp         0.866905
RainTomorrow    0.000000
dtype: float64

In [36]:
x_train.head()

        MinTemp  MaxTemp
122842      9.7     21.0
132151     10.4     15.4
62896      14.7     21.3
101164      8.3     16.5
128671     13.5     19.9

In [37]:
x_train.isnull().mean()*100

MinTemp    1.051377
MaxTemp    0.886383
dtype: float64

In [38]:
knn = KNNImputer()
x_train_trf = knn.fit_transform(x_train)
x_test_trf  = knn.transform(x_test)

In [39]:
ndf = pd.DataFrame(x_train_trf,columns=x_train.columns)

In [41]:
ndf.isnull().mean()*100

MinTemp    0.0
MaxTemp    0.0
dtype: float64

In [42]:
clf = LogisticRegression()
clf.fit(x_train_trf,y_train)

LogisticRegression()

In [43]:
y_pred = clf.predict(x_test_trf)

In [44]:
accuracy_score(y_test,y_pred)

0.7936752371786058