In [1]:
import pandas as pd 
import numpy as np

In [2]:
import matplotlib.pyplot as plt

#### Random Imputation
    1.Select random values within from the column data
    2.It is applicable on both Numerical data as well as Categorical data 
    3.It is easy to implement
    4.Data distribution about same after applying Random Imputation.
    5.Good performance with linear Algorithm.
    6.Co-variance might get distrubed just you introduce randomness in data.(disadvantange)
    7.It is memory heavy technique(disadvantange)

In [3]:
df=pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
df.isnull().mean()*100

Date              0.000000
Location          0.000000
MinTemp           1.020899
MaxTemp           0.866905
Rainfall          2.241853
Evaporation      43.166506
Sunshine         48.009762
WindGustDir       7.098859
WindGustSpeed     7.055548
WindDir9am        7.263853
WindDir3pm        2.906641
WindSpeed9am      1.214767
WindSpeed3pm      2.105046
Humidity9am       1.824557
Humidity3pm       3.098446
Pressure9am      10.356799
Pressure3pm      10.331363
Cloud9am         38.421559
Cloud3pm         40.807095
Temp9am           1.214767
Temp3pm           2.481094
RainToday         2.241853
RainTomorrow      2.245978
dtype: float64

In [5]:
# Performing Randominputation on Sunshine column

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns='RainTomorrow'),df['RainTomorrow'])

In [8]:
x_train.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
2453,2015-11-17,Albury,12.3,31.0,0.0,NaN,NaN,NNE,35.0,SSE,...,7.0,67.0,25.0,1018.4,1013.2,4.0,4.0,18.8,29.6,No
75866,2011-07-06,Portland,8.4,13.0,8.8,0.6,1.3,W,59.0,NNW,...,30.0,90.0,74.0,1003.4,1001.1,8.0,7.0,8.8,11.1,Yes
92301,2014-10-21,GoldCoast,18.1,25.7,0.6,NaN,NaN,SSE,61.0,S,...,43.0,59.0,63.0,1027.4,1025.4,NaN,NaN,22.9,21.4,No
113651,2014-10-31,Witchcliffe,11.4,20.0,3.2,NaN,NaN,NaN,NaN,SSE,...,19.0,66.0,54.0,1018.4,1018.0,NaN,NaN,15.8,18.3,Yes
130535,2010-05-29,Hobart,5.6,14.5,0.0,0.2,0.8,W,19.0,NW,...,7.0,88.0,93.0,1013.2,1013.3,6.0,7.0,9.5,13.8,No

In [9]:
x_test.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
138590,2016-01-22,AliceSprings,22.1,37.2,0.8,3.8,NaN,SE,24.0,WNW,...,13.0,66.0,38.0,1011.0,1007.5,7.0,1.0,29.7,36.2,No
107374,2014-03-17,Woomera,14.6,30.3,0.0,57.6,NaN,W,37.0,NaN,...,20.0,52.0,30.0,1018.5,1016.6,0.0,0.0,18.8,28.2,No
101117,2013-07-21,MountGambier,3.3,11.5,25.8,1.0,3.6,N,39.0,N,...,15.0,93.0,88.0,1008.5,1008.1,5.0,6.0,7.1,9.3,Yes
50724,2013-10-27,Tuggeranong,1.8,20.8,0.0,NaN,NaN,NE,35.0,E,...,17.0,61.0,38.0,1022.8,1019.6,NaN,NaN,11.8,20.2,No
63409,2015-05-06,Sale,8.9,17.4,0.0,NaN,NaN,W,63.0,NW,...,37.0,NaN,NaN,1011.1,1009.9,3.0,8.0,13.0,16.0,No

In [10]:
y_train.head()

2453       No
75866     Yes
92301      No
113651    NaN
130535    Yes
Name: RainTomorrow, dtype: object

In [11]:
x_train['Sunshine'].head()

2453      NaN
75866     1.3
92301     NaN
113651    NaN
130535    0.8
Name: Sunshine, dtype: float64

In [13]:
#%age of missing values before apply random imputation
x_train['Sunshine'].isnull().mean()*100

47.906870159035705

In [14]:
[x_train['Sunshine'].isnull()]

[2453       True
 75866     False
 92301      True
 113651     True
 130535    False
           ...
 94725     False
 77038     False
 62933     False
 128795     True
 15557      True
 Name: Sunshine, Length: 109095, dtype: bool]

In [19]:
x_train['Sunshine'].isnull()

2453      False
75866     False
92301     False
113651    False
130535    False
          ...
94725     False
77038     False
62933     False
128795    False
15557     False
Name: Sunshine, Length: 109095, dtype: bool

In [15]:
x_train['Sunshine'][x_train['Sunshine'].isnull()] = x_train['Sunshine'].dropna().sample(x_train['Sunshine'].isnull().sum()).values

In [21]:
x_train['Sunshine'].head()

53959     10.0
92090     10.9
58779     10.7
92184      3.4
117857     8.2
Name: Sunshine, dtype: float64

In [24]:

# check for missing values a after  randomImputation,I  checked in x_train only here
x_train['Sunshine'].isnull().mean()*100

0.0

#### Missing Indicator Technique
    1. try to introduce completely new column for every column which has some missing values ,where the the values are only True or False.

In [25]:
df.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No

In [28]:
ndf = pd.read_csv('weatherAUS.csv',usecols=['MinTemp','MaxTemp','RainTomorrow'])

In [29]:
ndf

        MinTemp  MaxTemp RainTomorrow
0          13.4     22.9           No
1           7.4     25.1           No
2          12.9     25.7           No
3           9.2     28.0           No
4          17.5     32.3           No
...         ...      ...          ...
145455      2.8     23.4           No
145456      3.6     25.3           No
145457      5.4     26.9           No
145458      7.8     27.0           No
145459     14.9      NaN          NaN

[145460 rows x 3 columns]

In [30]:
ndf['RainTomorrow'].mode()

0    No
dtype: object

In [31]:
ndf['RainTomorrow'].fillna('No',inplace=True)

In [32]:
ndf['RainTomorrow']

0         No
1         No
2         No
3         No
4         No
          ..
145455    No
145456    No
145457    No
145458    No
145459    No
Name: RainTomorrow, Length: 145460, dtype: object

In [33]:
ndf

        MinTemp  MaxTemp RainTomorrow
0          13.4     22.9           No
1           7.4     25.1           No
2          12.9     25.7           No
3           9.2     28.0           No
4          17.5     32.3           No
...         ...      ...          ...
145455      2.8     23.4           No
145456      3.6     25.3           No
145457      5.4     26.9           No
145458      7.8     27.0           No
145459     14.9      NaN           No

[145460 rows x 3 columns]

In [34]:
from sklearn.impute import MissingIndicator , SimpleImputer

In [37]:
x=ndf.drop(columns='RainTomorrow')
y=ndf['RainTomorrow']

In [38]:
x.head(2)

   MinTemp  MaxTemp
0     13.4     22.9
1      7.4     25.1

In [39]:
y.head(2)

0    No
1    No
Name: RainTomorrow, dtype: object

In [40]:
x_train1,x_test1,y_train1,y_test1 = train_test_split(x,y)

In [41]:
si = SimpleImputer()

In [42]:
x_train1_trf = si.fit_transform(x_train1)
x_test1_trf  = si.transform(x_test1)

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
clf = LogisticRegression()

In [45]:
clf.fit(x_train1_trf,y_train1)

LogisticRegression()

In [47]:
y_pred = clf.predict(x_test1_trf)

In [48]:
y_pred

array(['No', 'Yes', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [49]:
from sklearn.metrics import accuracy_score

In [51]:
accuracy_score(y_test1,y_pred)

0.792575278427059

In [52]:
# Now apply missing Indicator technique

In [53]:
mi = MissingIndicator()
mi.fit(x_train1)

MissingIndicator()

In [54]:
x_train1_missing = mi.transform(x_train1)
x_test1_missing  = mi.transform(x_test1)

In [55]:
x_test1_missing

array([[False, False],
       [False, False],
       [False, False],
       ...,
       [False, False],
       [False, False],
       [False, False]])

In [60]:
x_train1_missing

array([[False, False],
       [False, False],
       [False, False],
       ...,
       [False, False],
       [False, False],
       [False, False]])

In [ ]:
x_train1['MinTemp'].shape

In [ ]:
x_train1_missing.shape

In [66]:
x_train1[['MinTemp_NA','MaxTemp_NA']] = x_train1_missing

C:\Users\ngc\anaconda3\lib\site-packages\pandas\core\indexing.py:659: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[k] = np.nan
<ipython-input-66-01731a74355d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train1[['MinTemp_NA','MaxTemp_NA']] = x_train1_missing
C:\Users\ngc\anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [68]:
x_train1.isnull().mean()*100

MinTemp       1.014712
MaxTemp       0.860718
MinTemp_NA    0.000000
MaxTemp_NA    0.000000
dtype: float64